docs/platform/n8n-website-intake-workflow-minimal.json
{
  "name": "Website Intake Pipeline (Minimal)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "intake",
        "responseMode": "onReceived",
        "options": {}
      },
      "id": "webhook-intake",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 320]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json;\n\n// --- Edit these for your environment (no $env on n8n Cloud) ---\nconst TWILIO_FROM = '+18449262867';\n// Phone Number SID: PN848effb3e4edce45f501bfe2e97a1e97\nconst COORDINATOR_SMS_TO = '+12626139986'; // coordinator cell for team alerts\nconst APP_URL = 'https://dev.d9588bqvrp5xs.amplifyapp.com'; // production URL when live\n\nconst lead =\n  raw.body && typeof raw.body === 'object' && !Array.isArray(raw.body)\n    ? raw.body\n    : raw;\n\nconst fullName = String(lead.name || '').trim();\nconst nameParts = fullName.split(/\\s+/).filter(Boolean);\nconst firstName = String(lead.first_name || nameParts[0] || 'Unknown').trim();\nconst lastName = String(\n  lead.last_name || nameParts.slice(1).join(' ') || ''\n).trim();\nconst service = String(\n  lead.service_requested || lead.serviceInterest || 'General inquiry'\n).trim();\nconst phone = String(lead.phone || '').trim();\nconst email = String(lead.email || '').trim();\nconst leadId = String(lead.lead_id || 'website-inquiry');\nconst message = String(lead.message || '').trim();\n\nconst emailBody = [\n  `Name: ${firstName}${lastName ? ` ${lastName}` : ''}`,\n  `Phone: ${phone}`,\n  `Email: ${email}`,\n  `Service: ${service}`,\n  `Lead ID: ${leadId}`,\n  '',\n  'Message:',\n  message,\n].join('\\n');\n\nconst teamSmsBody = [\n  'New Nesting Place lead',\n  `${firstName}${lastName ? ` ${lastName}` : ''}`,\n  phone || email || 'No contact',\n  `Service: ${service}`,\n  `Lead ID: ${leadId}`,\n].join('\\n');\n\nconst momSmsBody = `Hi ${firstName}, thanks for contacting The Nesting Place. Our care coordinator will follow up within one business day. You can also continue online: ${APP_URL}/care/start`;\n\nconst smsConsent = lead.sms_consent === true || lead.sms_consent === 'true';\nconst canSendSms = Boolean(phone && smsConsent);\n\nreturn [\n  {\n    json: {\n      ...lead,\n      first_name: firstName,\n      last_name: lastName,\n      email_subject: 'New Lead Received',\n      email_body: emailBody,\n      send_to: String(\n        lead.team_notification_email ||\n          lead.send_to ||\n          lead.notification_email ||\n          'info@nesting-place.com'\n      ).trim(),\n      twilio_from: TWILIO_FROM,\n      coordinator_sms_to: COORDINATOR_SMS_TO,\n      team_sms_body: teamSmsBody,\n      mom_sms_body: momSmsBody,\n      phone,\n      sms_consent: smsConsent,\n      can_send_sms: canSendSms,\n    },\n  },\n];"
      },
      "id": "prepare-lead",
      "name": "Prepare Lead",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [480, 320]
    },
    {
      "parameters": {
        "sendTo": "={{ $json.send_to || $json.team_notification_email || 'info@nesting-place.com' }}",
        "subject": "={{ $json.email_subject }}",
        "emailType": "text",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "gmail-notification",
      "name": "Gmail Notification",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [760, 180]
    },
    {
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "from": "={{ $json.twilio_from }}",
        "to": "={{ $json.coordinator_sms_to }}",
        "message": "={{ $json.team_sms_body }}",
        "options": {}
      },
      "id": "twilio-team-sms",
      "name": "SMS Team Alert",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [760, 320]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "has-opt-in",
              "leftValue": "={{ $json.can_send_sms }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-has-phone",
      "name": "SMS Opt-in?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [760, 480]
    },
    {
      "parameters": {
        "resource": "sms",
        "operation": "send",
        "from": "={{ $json.twilio_from }}",
        "to": "={{ $json.phone }}",
        "message": "={{ $json.mom_sms_body }}",
        "options": {}
      },
      "id": "twilio-mom-sms",
      "name": "SMS Mom Confirmation",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [980, 480]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [[{ "node": "Prepare Lead", "type": "main", "index": 0 }]]
    },
    "Prepare Lead": {
      "main": [
        [
          { "node": "Gmail Notification", "type": "main", "index": 0 },
          { "node": "SMS Team Alert", "type": "main", "index": 0 },
          { "node": "SMS Opt-in?", "type": "main", "index": 0 }
        ]
      ]
    },
    "SMS Opt-in?": {
      "main": [
        [{ "node": "SMS Mom Confirmation", "type": "main", "index": 0 }],
        []
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
